<bit-section>
  <h2 bitTypography="h2">{{ "billingAddress" | i18n }}</h2>
  @if (billingAddress) {
    <p>{{ billingAddress | address }}</p>
    @if (billingAddress.taxId) {
      <p>{{ "taxId" | i18n: billingAddress.taxId.value }}</p>
    }
  } @else {
    <p>{{ "noBillingAddress" | i18n }}</p>
  }
  @let key = billingAddress ? "editBillingAddress" : "addBillingAddress";
  <button type="button" bitButton buttonType="secondary" [bitAction]="editBillingAddress">
    {{ key | i18n }}
  </button>
</bit-section>
