<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog>
    <span bitDialogTitle class="tw-font-semibold">
      {{ "editBillingAddress" | i18n }}
    </span>
    <div bitDialogContent>
      <app-enter-billing-address
        [scenario]="{
          type: 'update',
          existing: dialogParams.billingAddress,
          supportsTaxId,
        }"
        [group]="formGroup"
      ></app-enter-billing-address>
    </div>
    <ng-container bitDialogFooter>
      <button bitButton bitFormButton buttonType="primary" type="submit">
        {{ "save" | i18n }}
      </button>
      <button
        bitButton
        buttonType="secondary"
        type="button"
        [bitDialogClose]="{ type: 'cancelled' }"
      >
        {{ "cancel" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>
