<div
  class="tw-flex tw-flex-col tw-gap-4 tw-border tw-rounded-xl tw-border-solid tw-border-secondary-100 tw-p-6 tw-max-w-3xl"
>
  <div class="tw-flex tw-justify-between tw-items-center">
    <h2>Risk over time</h2>
    <button type="button" label="Download" bitIconButton="bwi-download"></button>
  </div>
  <div class="tw-flex tw-justify-between tw-items-center">
    <div>
      <bit-toggle-group
        [(selected)]="selectedView"
        (selectedChange)="onViewChange($event)"
        aria-label="at risk chart view selector"
      >
        <bit-toggle [value]="ViewType.Applications">Applications</bit-toggle>
        <bit-toggle [value]="ViewType.Passwords">Passwords</bit-toggle>
        <bit-toggle [value]="ViewType.Members">Members</bit-toggle>
      </bit-toggle-group>
    </div>
    <div>
      <button type="button" bitButton buttonType="secondary" [bitMenuTriggerFor]="timespanMenu">
        {{ timespanLabel() }}
        <bit-icon name="bwi-angle-down" aria-hidden="true"></bit-icon>
      </button>
      <bit-menu #timespanMenu>
        <button type="button" bitMenuItem (click)="onTimespanChange(Timespan.PastMonth)">
          Past month
        </button>
        <button type="button" bitMenuItem (click)="onTimespanChange(Timespan.Past3Months)">
          Past 3 months
        </button>
        <button type="button" bitMenuItem (click)="onTimespanChange(Timespan.Past6Months)">
          Past 6 months
        </button>
        <button type="button" bitMenuItem (click)="onTimespanChange(Timespan.PastYear)">
          Past year
        </button>
        <button type="button" bitMenuItem (click)="onTimespanChange(Timespan.AllTime)">
          All time
        </button>
      </bit-menu>
    </div>
  </div>
  <div class="tw-relative tw-h-96">
    @if (loading()) {
      <div class="tw-flex tw-items-center tw-justify-center tw-h-full">
        <bit-icon
          name="bwi-spinner"
          class="bwi-spin bwi-3x tw-text-muted"
          aria-hidden="true"
        ></bit-icon>
      </div>
    } @else if (error()) {
      <div class="tw-flex tw-items-center tw-justify-center tw-h-full tw-text-danger">
        <div class="tw-text-center">
          <bit-icon class="bwi-3x" name="bwi-error" aria-hidden="true"></bit-icon>
          <p class="tw-mt-4">{{ error() }}</p>
        </div>
      </div>
    } @else {
      <line-chart [lines]="lineChartData()" [configuration]="lineChartConfiguration"></line-chart>
    }
  </div>
</div>
