<div class="search-bar-container">
  <div class="search-bar">
    <svg
      class="search-icon"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      stroke="currentColor"
      stroke-width="1.8"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="8.5" cy="8.5" r="6" />
      <line x1="13" y1="13" x2="18" y2="18" />
    </svg>
    <input
      #searchInput
      class="search-input"
      type="text"
      placeholder="Bitwarden Magnify"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      (input)="onInput()"
      (keydown)="onKeydown($event)"
    />
    <span class="search-esc" *ngIf="hasSearched()">esc</span>
    <svg
      *ngIf="!hasSearched()"
      class="search-bar-logo"
      xmlns="http://www.w3.org/2000/svg"
      width="26"
      height="33"
      viewBox="0 0 26 33"
      fill="currentColor"
      aria-hidden="true"
    >
      <path
        d="M22.097 17.364V4.007h-9.099v23.729q2.418-1.315 4.326-2.86 4.773-3.84 4.773-7.512m3.9-16.028v16.028a9.8 9.8 0 0 1-.68 3.558q-.681 1.765-1.686 3.13a19 19 0 0 1-2.397 2.661q-1.39 1.295-2.57 2.15-1.178.856-2.457 1.617-1.28.762-1.817 1.033-.54.271-.864.418a1.14 1.14 0 0 1-.528.125q-.284 0-.528-.125a23 23 0 0 1-.863-.418q-.539-.27-1.818-1.033a32 32 0 0 1-2.457-1.617q-1.178-.855-2.57-2.15a19 19 0 0 1-2.396-2.66Q1.361 22.685.68 20.922A9.8 9.8 0 0 1 0 17.364V1.336q0-.543.386-.94T1.3 0h23.397q.528 0 .914.397.386.396.386.939"
      />
    </svg>
  </div>

  <results-list
    [results]="results()"
    [selectedIndex]="selectedIndex()"
    [hasSearched]="hasSearched()"
    [completingAction]="completingAction()"
    (itemSelected)="onItemSelected($event)"
    (itemHovered)="onItemHovered($event)"
  />

  <action-bar [actions]="activeActions()" />
</div>
