save-exact=true
# Increase available heap size to avoid running out of memory when compiling.
# This applies to all npm scripts in this repository.
node-options=--max-old-space-size=8192

# Use flat node_modules structure for compatibility with electron-builder
node-linker=hoisted
