<bit-dialog [title]="'scopedApiKeyCreated' | i18n" [subtitle]="data.name">
  <div bitDialogContent>
    <bit-callout type="warning">{{ "scopedApiKeySecretShownOnce" | i18n }}</bit-callout>
    <bit-form-field>
      <bit-label>{{ "clientId" | i18n }}</bit-label>
      <input
        bitInput
        id="scoped-api-key-secret-dialog_input_client-id"
        type="text"
        class="tw-font-mono"
        [value]="data.clientId"
        readonly
      />
      <button
        type="button"
        bitIconButton="bwi-clone"
        bitSuffix
        showToast
        id="scoped-api-key-secret-dialog_button_copy-client-id"
        [valueLabel]="'clientId' | i18n"
        [appCopyClick]="data.clientId"
        [label]="'copyValue' | i18n"
      ></button>
    </bit-form-field>
    <bit-form-field>
      <bit-label>{{ "clientSecret" | i18n }}</bit-label>
      <input
        bitInput
        id="scoped-api-key-secret-dialog_input_client-secret"
        type="text"
        class="tw-font-mono"
        [value]="data.clientSecret"
        readonly
      />
      <button
        type="button"
        bitIconButton="bwi-clone"
        bitSuffix
        showToast
        id="scoped-api-key-secret-dialog_button_copy-client-secret"
        [valueLabel]="'clientSecret' | i18n"
        [appCopyClick]="data.clientSecret"
        [label]="'copyValue' | i18n"
      ></button>
    </bit-form-field>
    <bit-form-field>
      <bit-label>scope</bit-label>
      <input
        bitInput
        id="scoped-api-key-secret-dialog_input_scope"
        type="text"
        class="tw-font-mono"
        [value]="data.scope"
        readonly
      />
      <button
        type="button"
        bitIconButton="bwi-clone"
        bitSuffix
        showToast
        id="scoped-api-key-secret-dialog_button_copy-scope"
        valueLabel="scope"
        [appCopyClick]="data.scope"
        [label]="'copyValue' | i18n"
      ></button>
      <bit-hint>{{ "scopedApiKeyScopeParamHint" | i18n }}</bit-hint>
    </bit-form-field>
    <bit-form-field>
      <bit-label>grant_type</bit-label>
      <input
        bitInput
        id="scoped-api-key-secret-dialog_input_grant-type"
        type="text"
        class="tw-font-mono"
        [value]="grantType"
        readonly
      />
      <button
        type="button"
        bitIconButton="bwi-clone"
        bitSuffix
        showToast
        id="scoped-api-key-secret-dialog_button_copy-grant-type"
        valueLabel="grant_type"
        [appCopyClick]="grantType"
        [label]="'copyValue' | i18n"
      ></button>
    </bit-form-field>
  </div>
  <ng-container bitDialogFooter>
    <button
      type="button"
      bitButton
      buttonType="primary"
      bitDialogClose
      id="scoped-api-key-secret-dialog_button_done"
    >
      {{ "done" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
