<bit-simple-dialog>
  <bit-icon bitDialogIcon name="bwi-error" class="tw-text-danger tw-text-3xl"></bit-icon>
  <span bitDialogTitle>
    @if (!permanent) {
      {{
        (totalCiphersCount > 1 ? "deleteSelectedPlural" : "deleteSelectedSingular")
          | i18n: totalCiphersCount
      }}
    } @else {
      {{
        (totalCiphersCount > 1
          ? "permanentlyDeleteSelectedPlural"
          : "permanentlyDeleteSelectedSingular"
        ) | i18n: totalCiphersCount
      }}
    }
  </span>
  <span bitDialogContent>
    @if (!permanent) {
      @if (totalCiphersCount > 1) {
        {{ "deleteSelectedCiphersPlural" | i18n }}
      } @else {
        {{ "deleteSelectedCiphersSingular" | i18n }}
      }
    }
    @if (permanent) {
      {{
        (totalCiphersCount > 1
          ? "permanentlyDeleteSelectedCiphersPlural"
          : "permanentlyDeleteSelectedCiphersSingular"
        ) | i18n
      }}
    }
  </span>
  <ng-container bitDialogFooter>
    <button bitButton type="submit" buttonType="danger" [bitAction]="submit">
      {{ (permanent ? "permanentlyDelete" : "delete") | i18n }}
    </button>
    <button bitButton type="button" (click)="cancel()">{{ "cancel" | i18n }}</button>
  </ng-container>
</bit-simple-dialog>
