<bit-simple-dialog hideIcon>
  <div bitDialogContent>
    <vault-carousel label="Placeholder" (slideChange)="onSlideChange($event)">
      <vault-carousel-slide [label]="'first page'">
        <h1>first carousel slide</h1>
      </vault-carousel-slide>
      <vault-carousel-slide [label]="'second page'">
        <h1>second carousel slide</h1>
      </vault-carousel-slide>
      <vault-carousel-slide [label]="'third page'">
        <h1>third carousel slide</h1>
      </vault-carousel-slide>
      <vault-carousel-slide [label]="'fourth page'">
        <h1>fourth carousel slide</h1>
      </vault-carousel-slide>
    </vault-carousel>
  </div>
</bit-simple-dialog>
