<div class="tw-flex tw-flex-col">
  <div class="tw-flex tw-gap-2">
    <bit-icon-tile icon="bwi-error" variant="danger"></bit-icon-tile>
    <h1 bitTypography="h2" noMargin class="!tw-mb-0">{{ "phishingPageTitle" | i18n }}</h1>
  </div>

  <hr class="!tw-my-6" />

  <bit-callout class="tw-mb-0" type="danger" icon="bwi-globe" [title]="null">
    <span class="tw-font-mono">{{ phishingHost$ | async }}</span>
  </bit-callout>

  <bit-callout class="tw-mt-2" [icon]="null" type="default">
    <p bitTypography="body1">
      {{ "phishingPageExplanation1" | i18n }}<b>Phishing.Database</b
      >{{ "phishingPageExplanation2" | i18n }}
    </p>

    <button type="button" (click)="continueAnyway()" bitLink linkType="primary">
      {{ "phishingPageLearnMore" | i18n }}<i class="bwi bwi-angle-right" aria-hidden="true"></i>
    </button>
  </bit-callout>

  <div class="tw-flex tw-flex-col tw-gap-4 tw-items-center tw-mt-2">
    <button type="button" (click)="closeTab()" bitButton buttonType="primary" [block]="true">
      {{ "phishingPageCloseTab" | i18n }}
    </button>
    <button
      class="tw-text-sm"
      type="button"
      (click)="continueAnyway()"
      bitLink
      linkType="secondary"
    >
      {{ "phishingPageContinue" | i18n }}
    </button>
  </div>
</div>
