<popup-page>
  <popup-header slot="header" pageTitle="{{ 'demoSettings' | i18n }}" showBackButton>
    <ng-container slot="end">
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>

  <bit-section>
    <bit-section-header>
      <h2 bitTypography="h6">{{ "demoOptions" | i18n }}</h2>
    </bit-section-header>
  </bit-section>

  <bit-section>
    <bit-section-header>
      <h2 bitTypography="body1">Remote Access Tunnel</h2>
    </bit-section-header>
    <bit-item>
      <button bit-item-content type="button" appStopClick routerLink="/tunnel-demo">
        {{ "triggerTunnelDemo" | i18n }}
        <i slot="end" class="bwi bwi-chevron-right" aria-hidden="true"></i>
      </button>
    </bit-item>
  </bit-section>
</popup-page>
