<popup-page>
  <popup-header slot="header" pageTitle="Tunnel Demo" showBackButton>
    <ng-container slot="end">
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>

  <bit-section>
    <bit-section-header>
      <h2 bitTypography="h6">{{ "retrieveCredentials" | i18n }}</h2>
    </bit-section-header>
    <bit-card>
      <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <bit-form-field>
          <bit-label>{{ "vaultItemName" | i18n }}</bit-label>
          <input bitInput type="text" formControlName="vaultItemName" />
          <bit-hint>Enter the name of the vault item to retrieve credentials from.</bit-hint>
        </bit-form-field>
        <button bitButton buttonType="primary" type="submit" [disabled]="formGroup.invalid">
          {{ "demoRetrieve" | i18n }}
        </button>
      </form>
    </bit-card>
  </bit-section>
</popup-page>
