@import "./variables";

@import "../../../../libs/angular/src/scss/webfonts.css";
@import "../../../../libs/angular/src/scss/bwicons/styles/style.scss";
@import "../../../../libs/angular/src/scss/icons.scss";
@import "../../../../libs/components/src/multi-select/scss/bw.theme";
@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/cdk/text-field-prebuilt.css";

@import "./vault-filters";
/* Hide close button in date picker popovers */
.cdk-overlay-pane button:has(i.bwi-close),
.cdk-overlay-pane i.bwi-close.bwi-close,
i.bwi-close.bwi-close,
button i.bwi-close {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
