@import "./variables-export.css" $dark-icon-themes: "theme_dark";

$font-family-sans-serif: var(--autofill-font-family-sans-serif);
$font-family-source-code-pro: var(--autofill-font-family-source-code-pro);
$font-size-base: var(--autofill-font-size-base);

$text-color-light: var(--autofill-text-color-light);
$muted-text-color-light: var(--autofill-muted-text-color-light);
$background-color-light: var(--autofill-background-color-light);
$background-offset-color-light: var(--autofill-background-offset-color-light);
$border-color-light: var(--autofill-border-color-light);
$brand-primary-light: var(--autofill-brand-primary-light);
$focus-outline-color-light: var(--autofill-focus-outline-color-light);
$password-special-color-light: var(--autofill-password-special-color-light);
$password-number-color-light: var(--autofill-password-number-color-light);
$success-color-light: var(--autofill-success-color-light);
$error-color-light: var(--autofill-error-color-light);

$text-color-dark: var(--autofill-text-color-dark);
$muted-text-color-dark: var(--autofill-muted-text-color-dark);
$background-color-dark: var(--autofill-background-color-dark);
$background-offset-color-dark: var(--autofill-background-offset-color-dark);
$border-color-dark: var(--autofill-border-color-dark);
$brand-primary-dark: var(--autofill-brand-primary-dark);
$focus-outline-color-dark: var(--autofill-focus-outline-color-dark);
$password-special-color-dark: var(--autofill-password-special-color-dark);
$password-number-color-dark: var(--autofill-password-number-color-dark);
$success-color-dark: var(--autofill-success-color-dark);
$error-color-dark: var(--autofill-error-color-dark);

$muted-blue: var(--autofill-muted-blue);
$muted-grey: var(--autofill-muted-grey);

$border-radius: var(--autofill-border-radius);

$themes: (
  light: (
    textColor: $text-color-light,
    mutedTextColor: $muted-text-color-light,
    backgroundColor: $background-color-light,
    backgroundOffsetColor: $background-offset-color-light,
    primaryColor: $brand-primary-light,
    buttonPrimaryColor: $brand-primary-light,
    textContrast: $background-color-light,
    inputBorderColor: $border-color-light,
    inputBackgroundColor: $background-color-light,
    borderColor: $border-color-light,
    focusOutlineColor: $focus-outline-color,
    successColor: $success-color-light,
    errorColor: $error-color-light,
    passkeysAuthenticating: $muted-blue,
    passwordSpecialColor: $password-special-color-light,
    passwordNumberColor: $password-number-color-light,
  ),
  dark: (
    textColor: $text-color-dark,
    mutedTextColor: $muted-text-color-dark,
    backgroundColor: $background-color-dark,
    backgroundOffsetColor: $background-offset-color-dark,
    buttonPrimaryColor: $brand-primary-dark,
    primaryColor: $brand-primary-dark,
    textContrast: $background-color-dark,
    inputBorderColor: $border-color-dark,
    inputBackgroundColor: $background-color-dark,
    borderColor: $border-color-dark,
    focusOutlineColor: $focus-outline-color-dark,
    successColor: $success-color-dark,
    errorColor: $error-color-dark,
    passkeysAuthenticating: $muted-grey,
    passwordSpecialColor: $password-special-color-dark,
    passwordNumberColor: $password-number-color-dark,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme_#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
