<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog [loading]="loading">
    <div bitDialogTitle class="tw-flex tw-flex-col">
      @if (firstTimeDialog) {
        <span bitBadge variant="info" class="tw-w-28 tw-my-2"> {{ "availableNow" | i18n }}</span>
      }
      <span>
        {{ (firstTimeDialog ? "autoConfirm" : "editPolicy") | i18n }}
        @if (!firstTimeDialog) {
          <span class="tw-text-muted tw-font-normal tw-text-sm">
            {{ policy.name | i18n }}
          </span>
        }
      </span>
    </div>

    <ng-container bitDialogContent>
      <div *ngIf="loading">
        <i
          class="bwi bwi-spinner bwi-spin tw-text-muted"
          title="{{ 'loading' | i18n }}"
          aria-hidden="true"
        ></i>
        <span class="tw-sr-only">{{ "loading" | i18n }}</span>
      </div>
      <div [hidden]="loading">
        @if (policy.showDescription) {
          <p bitTypography="body1">{{ policy.description | i18n }}</p>
        }
      </div>
      <ng-template #policyForm></ng-template>
    </ng-container>
    <ng-container bitDialogFooter>
      @let templateContent = (multiStepSubmit | async)[currentStep]?.content();
      @if (templateContent) {
        <ng-container [ngTemplateOutlet]="templateContent"></ng-container>
      }
    </ng-container>
  </bit-dialog>
</form>

<ng-template #step0>
  <button
    bitButton
    buttonType="primary"
    [disabled]="saveDisabled$ | async"
    bitFormButton
    type="submit"
  >
    {{ "continue" | i18n }}
  </button>
  <button bitButton buttonType="secondary" bitDialogClose type="button">
    {{ "cancel" | i18n }}
  </button>
</ng-template>

<ng-template #step1>
  <button
    bitButton
    buttonType="primary"
    [disabled]="saveDisabled$ | async"
    bitFormButton
    type="submit"
  >
    {{ "openExtension" | i18n }}
  </button>
  <button bitButton buttonType="secondary" bitDialogClose type="button">
    {{ "cancel" | i18n }}
  </button>
</ng-template>
