<form
  [formGroup]="formGroup"
  [bitSubmit]="submit"
  bit-dialog
  [loading]="loading()"
  [title]="dialogRef.isDrawer ? (policy.nameV2 ?? policy.name | i18n) : ('editPolicy' | i18n)"
  [subtitle]="dialogRef.isDrawer ? '' : (policy.name | i18n)"
>
  @if (dialogRef.isDrawer) {
    <span bitBadge [variant]="policyEnabled() ? 'success' : 'secondary'" bitDialogTitleSuffix>{{
      (policyEnabled() ? "on" : "off") | i18n
    }}</span>
  }
  <ng-container bitDialogContent>
    @if (loading()) {
      <div>
        <i
          class="bwi bwi-spinner bwi-spin tw-text-muted"
          title="{{ 'loading' | i18n }}"
          aria-hidden="true"
        ></i>
        <span class="tw-sr-only">{{ "loading" | i18n }}</span>
      </div>
    }
    <div [hidden]="loading()">
      @if (dialogRef.isDrawer && policy.prerequisiteKey) {
        <bit-callout type="info">
          {{ policy.prerequisiteKey | i18n }}
          @if (policy.prerequisiteLinkHref && policy.prerequisiteLinkTextKey) {
            <a bitLink [href]="policy.prerequisiteLinkHref" target="_blank" rel="noreferrer">
              {{ policy.prerequisiteLinkTextKey | i18n }}
            </a>
          }
        </bit-callout>
      }
      @if (policy.showDescription) {
        <p bitTypography="body1">
          {{
            (dialogRef.isDrawer && policy.descriptionV2 ? policy.descriptionV2 : policy.description)
              | i18n
          }}
        </p>
      }
      <ng-template #policyForm></ng-template>
    </div>
  </ng-container>
  <ng-container bitDialogFooter>
    <button bitButton buttonType="primary" [disabled]="saveDisabled()" bitFormButton type="submit">
      {{ "save" | i18n }}
    </button>
    <button bitButton buttonType="secondary" type="button" (click)="cancel()">
      {{ "cancel" | i18n }}
    </button>
  </ng-container>
</form>
