<p bitTypography="body1">{{ "sendControlsFormDescription" | i18n }}</p>

<bit-form-control>
  <input type="checkbox" bitCheckbox [formControl]="enabled" id="enabled" />
  <bit-label>{{ "enableSend" | i18n }}</bit-label>
</bit-form-control>

<div [formGroup]="data">
  <h3 bitTypography="h3" class="tw-mt-4">{{ "options" | i18n }}</h3>
  <bit-form-control>
    <input
      type="checkbox"
      bitCheckbox
      formControlName="disableHideEmail"
      id="disableHideEmail"
      [disabled]="!enabled.value"
    />
    <bit-label>{{ "disableHideEmail" | i18n }}</bit-label>
  </bit-form-control>
</div>
