<bit-simple-dialog hideIcon>
  <div bitDialogContent>
    <div class="tw-flex tw-justify-center">
      <div class="tw-mt-1 tw-w-[273px]">
        <bit-progress
          [showText]="false"
          size="default"
          bgColor="primary"
          [barWidth]="progressPercentage()"
        ></bit-progress>
      </div>
    </div>
    <div class="tw-flex tw-flex-col tw-gap-2 tw-mt-6">
      <strong>
        {{ "bulkReinviteProgressTitle" | i18n: progressCount() : allCount }}
      </strong>
      {{ "bulkReinviteProgressSubtitle" | i18n }}
    </div>
  </div>
</bit-simple-dialog>
