<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog>
    <span bitDialogTitle>
      {{
        (mode === "rotate" ? "rotateScimKey" : mode === "copy" ? "copyScimKey" : "viewScimApiKey")
          | i18n
      }}
    </span>
    <div bitDialogContent>
      @if (mode === "rotate") {
        <bit-callout type="warning">
          {{ "rotateScimKeyWarning" | i18n }}
        </bit-callout>
      }

      <app-user-verification-form-input formControlName="verification">
      </app-user-verification-form-input>
    </div>
    <ng-container bitDialogFooter>
      <button
        type="submit"
        bitButton
        bitFormButton
        [buttonType]="mode === 'rotate' ? 'danger' : 'primary'"
      >
        {{ (mode === "rotate" ? "rotateKey" : "viewApiKey") | i18n }}
      </button>
      <button bitButton type="button" (click)="close()">
        {{ "close" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>
