<app-header></app-header>

<form [formGroup]="formData">
  <div [hidden]="!loading()">
    <bit-spinner />
    <span class="tw-sr-only">{{ "loading" | i18n }}</span>
  </div>
  <div [hidden]="loading()">
    <bit-form-control-card>
      <bit-switch [formControl]="enabled" (change)="submit()"></bit-switch>
      <bit-label>{{ "scim" | i18n }}</bit-label>
      <bit-hint>
        {{ "scimDescriptionV2" | i18n }}
        <a
          bitLink
          target="_blank"
          href="https://bitwarden.com/help/about-scim/"
          endIcon="bwi-external-link"
        >
          {{ "scimLearnMore" | i18n }}
        </a>
      </bit-hint>
    </bit-form-control-card>

    <div class="tw-mt-6" [hidden]="!showScimSettings()">
      <bit-form-field>
        <bit-label>{{ "scimUrl" | i18n }}</bit-label>
        <input bitInput type="text" formControlName="endpointUrl" readonly />
        <button
          type="button"
          bitSuffix
          bitIconButton="bwi-clone"
          [bitAction]="copyScimUrl"
          [label]="'copyScimUrl' | i18n"
        ></button>
      </bit-form-field>
      <bit-form-field>
        <bit-label>{{ "scimApiKey" | i18n }}</bit-label>
        <input
          bitInput
          [type]="showScimKey() ? 'text' : 'password'"
          formControlName="clientSecret"
          id="clientSecret"
          readonly
        />
        <button
          type="button"
          bitSuffix
          [bitIconButton]="showScimKey() ? 'bwi-eye-slash' : 'bwi-eye'"
          [bitAction]="loadApiKey"
          [label]="'toggleVisibility' | i18n"
        ></button>
        <button
          type="button"
          bitSuffix
          bitIconButton="bwi-clone"
          [bitAction]="copyScimKey"
          [label]="'copyScimKey' | i18n"
        ></button>
        <button
          type="button"
          bitSuffix
          bitIconButton="bwi-generate"
          [bitAction]="rotateScimKey"
          [label]="'rotateScimKey' | i18n"
        ></button>
        <bit-hint>{{ "scimApiKeyHelperText" | i18n }}</bit-hint>
      </bit-form-field>
    </div>
  </div>
</form>
