@import "../../../../../libs/angular/src/scss/bwicons/styles/style.scss";
@import "variables.scss";
@import "../../../../../libs/angular/src/scss/icons.scss";
@import "@angular/cdk/overlay-prebuilt.css";
@import "../../../../../libs/components/src/multi-select/scss/bw.theme";

.cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

// MFA Types for logo styling with no dark theme alternative
$mfaTypes: 0, 2, 3, 4, 6;

@each $mfaType in $mfaTypes {
  .mfaType#{$mfaType} {
    content: url("../images/two-factor/" + $mfaType + ".png");
    max-width: 100px;
  }
}

.mfaType0 {
  content: url("../images/two-factor/0.png");
  max-width: 100px;
  max-height: 45px;
}

.mfaType1 {
  max-width: 100px;
  max-height: 45px;

  &:is(.theme_light *) {
    content: url("../images/two-factor/1.png");
  }

  &:is(.theme_dark *) {
    content: url("../images/two-factor/1-w.png");
  }
}

.mfaType7 {
  max-width: 100px;

  &:is(.theme_light *) {
    content: url("../images/two-factor/7.png");
  }

  &:is(.theme_dark *) {
    content: url("../images/two-factor/7-w.png");
  }
}
/**
 * BETA BADGE VERTICAL ALIGNMENT FIX
 * GitHub Issue: #17810
 */

bit-label {
  &:has([bitBadge]) {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;

    [bitBadge] {
      align-self: center;
      vertical-align: middle;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.tw-bit-compact {
  bit-label:has([bitBadge]) {
    gap: 0.25rem;

    [bitBadge] {
      font-size: 0.7rem;
      padding: 0.125rem 0.375rem;
    }
  }
}
