<div class="tw-flex-col">
  <span bitTypography="h6" class="tw-flex tw-text-main">{{ "passwordChangeProgress" | i18n }}</span>
  <div class="tw-flex tw-items-baseline tw-gap-2">
    <span bitTypography="h3">{{ "percentageCompleted" | i18n: completedPercent }}</span>
  </div>
  <div class="tw-flex tw-items-baseline tw-gap-2">
    <span bitTypography="body2">{{ "passwordsChanged" | i18n: totalTasks : completedTasks }}</span>
  </div>
  <div class="tw-mt-4">
    <div class="tw-mb-2">
      <span bitTypography="body2" class="tw-float-start">{{ completedTasks }}</span>
      <span bitTypography="body2" class="tw-float-end">{{ totalTasks }}</span>
    </div>
    <div>
      <bit-progress
        [showText]="false"
        size="default"
        bgColor="primary"
        [ariaLabel]="'passwordChangeProgressBar' | i18n"
      ></bit-progress>
    </div>
  </div>
</div>
