<app-header
  *ngIf="project$ | async as project"
  [title]="renaming ? rename.titlePlaceholder : project.name"
  icon="bwi-collection"
>
  <sm-inline-rename
    #rename
    slot="title-suffix"
    [(editing)]="renaming"
    [name]="project.name"
    [label]="'projectName' | i18n"
    [editLabel]="'editProject' | i18n"
    [canEdit]="project.write"
    [save]="saveRename"
    idPrefix="project-header"
  ></sm-inline-rename>
  <bit-breadcrumbs slot="breadcrumbs">
    <bit-breadcrumb [route]="['..']" icon="bwi-angle-left">{{ "projects" | i18n }}</bit-breadcrumb>
  </bit-breadcrumbs>
  <bit-tab-nav-bar label="Main" slot="tabs">
    <bit-tab-link [route]="['secrets']">
      {{ "secrets" | i18n }}
      <div slot="end" class="tw-text-muted">
        {{ projectCounts?.secrets }}
      </div>
    </bit-tab-link>
    <ng-container *ngIf="project.write">
      <bit-tab-link [route]="['people']">
        {{ "people" | i18n }}
        <div slot="end" class="tw-text-muted">
          {{ projectCounts?.people }}
        </div>
      </bit-tab-link>
      <bit-tab-link [route]="['machine-accounts']">
        {{ "machineAccounts" | i18n }}
        <div slot="end" class="tw-text-muted">
          {{ projectCounts?.serviceAccounts }}
        </div>
      </bit-tab-link>
    </ng-container>
  </bit-tab-nav-bar>
  <sm-new-menu></sm-new-menu>
</app-header>
<router-outlet></router-outlet>
