<bit-dialog
  [title]="'pamAccessConnectorTokenTitle' | i18n"
  [subtitle]="params.daemonName"
  dialogSize="large"
>
  <ng-container bitDialogContent>
    <bit-callout type="warning" [title]="'pamAccessConnectorTokenWarningTitle' | i18n">
      {{ "pamAccessConnectorTokenDaemonWarningBody" | i18n }}
    </bit-callout>

    <bit-form-field class="tw-mb-0">
      <bit-label>{{ "pamAccessConnectorTokenLabel" | i18n }}</bit-label>
      <input
        bitInput
        type="text"
        readonly
        class="tw-font-mono tw-text-sm"
        id="daemon-token-dialog_input_token"
        [value]="params.token"
      />
      <button
        type="button"
        bitIconButton="bwi-clone"
        bitSuffix
        [label]="'pamAccessConnectorTokenCopy' | i18n"
        (click)="copyToken()"
        id="daemon-token-dialog_button_copy"
      ></button>
      <bit-hint>{{ "pamAccessConnectorTokenHint" | i18n }}</bit-hint>
    </bit-form-field>
  </ng-container>

  <ng-container bitDialogFooter>
    <button
      type="button"
      bitButton
      buttonType="secondary"
      (click)="close()"
      id="daemon-token-dialog_button_close"
    >
      {{ "close" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
