<form [formGroup]="form" bit-dialog dialogSize="large" background="alt" [bitSubmit]="submit">
  <ng-container bitDialogTitle>
    {{ (isEditMode ? "editReceive" : "newReceive") | i18n }}
  </ng-container>
  <ng-container bitDialogContent>
    <bit-card>
      <bit-form-field>
        <bit-label>{{ "name" | i18n }}</bit-label>
        <input bitInput type="text" formControlName="name" />
      </bit-form-field>
      <bit-form-field>
        <bit-label>{{ "expirationDays" | i18n }}</bit-label>
        <bit-select formControlName="expirationDays" [items]="expirationDayOptions" />
      </bit-form-field>
    </bit-card>
  </ng-container>
  <ng-container bitDialogFooter>
    <button type="submit" bitButton bitFormButton buttonType="primary">
      {{ (isEditMode ? "save" : "generateLink") | i18n }}
    </button>
    <button type="button" bitButton bitFormButton buttonType="secondary" bitDialogClose>
      {{ "cancel" | i18n }}
    </button>
  </ng-container>
</form>
