@if (folder().children.length) {
  <bit-nav-group
    [icon]="folder().node.icon"
    [class.active]="isActive()"
    [text]="displayName()"
    [variant]="'tree'"
    [appA11yTitle]="displayName()"
    (click)="applyFilter($event)"
  >
    @for (childFolder of folder().children; track childFolder.node.id) {
      <app-folder-filter [folder]="childFolder" [activeFilter]="activeFilter()" />
    }
  </bit-nav-group>
} @else {
  <bit-nav-item
    [icon]="folder().node.icon"
    [class.active]="isActive()"
    [text]="displayName()"
    [variant]="'tree'"
    [appA11yTitle]="displayName()"
    (click)="applyFilter($event)"
  />
}
