<app-header></app-header>

<vault-organization-user-notifications></vault-organization-user-notifications>
<app-vault-banners [organizations]="organizations()"></app-vault-banners>

<app-vault-onboarding [ciphers]="ciphers()"></app-vault-onboarding>

<vault-items-table
  [ciphers]="ciphers()"
  [loading]="loading()"
  [rowActions]="rowActions()"
  [folders]="folders()"
  [collections]="collections()"
  [organizations]="organizations()"
  [itemAction]="itemAction"
  [copyPresentation]="copyPresentation()"
>
  <button
    slot="toolbar"
    id="vault-next_button_add-item"
    type="button"
    bitButton
    startIcon="bwi-plus"
    buttonType="primary"
    (click)="addItem()"
  >
    {{ "add" | i18n }}
  </button>
</vault-items-table>
