@if (showChangeKdf) {
  <app-change-kdf></app-change-kdf>
  <div class="tw-border-0 tw-mb-0 tw-mt-12 tw-pb-2.5"></div>
}
@if (showChangeKdf && sdkKeyRotationFlag$ | async) {
  <app-user-key-rotation></app-user-key-rotation>
  <div class="tw-border-0 tw-mb-0 tw-mt-12 tw-pb-2.5"></div>
}
<div class="tw-mt-6 tw-border-0 tw-mb-0 tw-pb-2.5">
  <h2 bitTypography="h2">{{ "apiKey" | i18n }}</h2>
</div>
<p bitTypography="body1">
  {{ "userApiKeyDesc" | i18n }}
</p>
<div class="tw-flex tw-gap-2">
  <button type="button" bitButton buttonType="secondary" (click)="viewUserApiKey()">
    {{ "viewApiKey" | i18n }}
  </button>
  <button type="button" bitButton buttonType="secondary" (click)="rotateUserApiKey()">
    {{ "rotateApiKey" | i18n }}
  </button>
</div>
