<div class="footer">
  <button
    #submitBtn
    form="cipherForm"
    type="submit"
    [hidden]="action === 'view'"
    bitButton
    buttonType="primary"
    appA11yTitle="{{ submitButtonText() }}"
  >
    {{ submitButtonText() }}
  </button>
  @if (action === "edit" || action === "clone" || action === "add") {
    <button type="button" bitButton buttonType="secondary" (click)="cancel()">
      {{ "cancel" | i18n }}
    </button>
  }
  @if (cipher && !cipher.decryptionFailure) {
    @if (!cipher.isDeleted && action === "view") {
      <button
        type="button"
        bitButton
        buttonType="primary"
        (click)="edit()"
        appA11yTitle="{{ 'edit' | i18n }}"
      >
        <i class="bwi bwi-pencil bwi-fw bwi-lg" aria-hidden="true"></i>
      </button>
    }
    @if (cipher.isDeleted && cipher.permissions.restore) {
      <button
        type="button"
        bitButton
        buttonType="primary"
        (click)="restore()"
        appA11yTitle="{{ 'restore' | i18n }}"
      >
        <i class="bwi bwi-undo bwi-fw bwi-lg" aria-hidden="true"></i>
      </button>
    }
    @if (cipher.id && !cipher?.organizationId && !cipher.isDeleted && action === "view") {
      <button
        type="button"
        bitButton
        buttonType="primary"
        (click)="clone()"
        appA11yTitle="{{ 'clone' | i18n }}"
      >
        <i class="bwi bwi-files bwi-fw bwi-lg" aria-hidden="true"></i>
      </button>
    }
  }
  @if (cipher && hasFooterAction) {
    <div class="right">
      @if (showArchiveButton) {
        <button
          type="button"
          bitButton
          buttonType="secondary"
          (click)="archive()"
          appA11yTitle="{{ 'archiveVerb' | i18n }}"
        >
          <i class="bwi bwi-archive bwi-lg bwi-fw" aria-hidden="true"></i>
        </button>
      }
      @if (showUnarchiveButton) {
        <button
          type="button"
          bitButton
          buttonType="secondary"
          (click)="unarchive()"
          appA11yTitle="{{ 'unArchive' | i18n }}"
        >
          <i class="bwi bwi-unarchive bwi-lg bwi-fw" aria-hidden="true"></i>
        </button>
      }
      <button
        type="button"
        bitButton
        buttonType="danger"
        (click)="delete()"
        appA11yTitle="{{ (cipher.isDeleted ? 'permanentlyDelete' : 'delete') | i18n }}"
      >
        <i class="bwi bwi-trash bwi-lg bwi-fw" aria-hidden="true"></i>
      </button>
    </div>
  }
</div>
