@for (org of organizations(); track org.id) {
  @if (org.vault; as vault) {
    <bit-nav-group
      [text]="org.name"
      [ariaLabel]="['organization' | i18n, org.name].join(' ')"
      [open]="org.id === activeOrganizationId()"
    >
      <bit-icon-tile [icon]="org.icon" [color]="org.color" size="sm" />
      @if (!org.enabled) {
        <bit-icon
          slot="end"
          name="bwi-exclamation-triangle"
          appA11yTitle="{{ 'organizationIsDisabled' | i18n }}"
        ></bit-icon>
      }
      <bit-nav-item
        icon="bwi-list-alt"
        [text]="'allVaultItems' | i18n"
        [route]="vault.allItems"
        [routerLinkActiveOptions]="filterActiveOptions"
      ></bit-nav-item>
      <bit-nav-item
        icon="bwi-shared-folder"
        [text]="'sharedFolders' | i18n"
        [route]="vault.sharedFolders"
        [routerLinkActiveOptions]="filterActiveOptions"
        [forceActiveStyles]="sharedFoldersActive(org)"
      ></bit-nav-item>
    </bit-nav-group>
  } @else {
    <bit-nav-item
      [text]="org.name"
      [ariaLabel]="['organization' | i18n, org.name].join(' ')"
      [route]="org.root"
    >
      <bit-icon-tile [icon]="org.icon" [color]="org.color" size="sm" />
      @if (!org.enabled) {
        <bit-icon
          slot="end"
          name="bwi-exclamation-triangle"
          appA11yTitle="{{ 'organizationIsDisabled' | i18n }}"
        ></bit-icon>
      }
    </bit-nav-item>
  }
}
