<popup-page>
  <popup-header slot="header" pageTitle="{{ titleKey() | i18n }}" showBackButton="true">
    <ng-container slot="end">
      <app-pop-out />
      <app-current-account />
    </ng-container>
  </popup-header>
  @if (items().length > 0) {
    <p>
      {{ descriptionKey() | i18n }}
    </p>
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h5">Items</h2>
        <span slot="end">{{ items().length }}</span>
      </bit-section-header>
      @for (item of items(); track item.id) {
        <bit-item class="tw-py-2 tw-flex tw-gap-2 tw-items-center">
          <div slot="start" class="tw-px-3 tw-flex tw-items-center">
            <app-vault-icon [cipher]="item"></app-vault-icon>
          </div>
          <div slot="secondary" class="tw-flex tw-flex-col">
            <span bitTypography="body1">
              {{ item.name }}
            </span>
            <span bitTypography="body2" class="tw-text-muted">
              {{ item.login.username }}
            </span>
          </div>
          <div slot="end" class="tw-flex tw-gap-2 tw-items-center">
            <bit-item-action>
              <button
                type="button"
                bitButton
                buttonType="primaryOutline"
                endIcon="bwi-external-link"
              >
                {{ "changePassword" | i18n }}
              </button>
            </bit-item-action>
            <bit-item-action>
              <button type="button" bitIconButton="bwi-more-horizontal" label="Options"></button>
            </bit-item-action>
          </div>
        </bit-item>
      }
    </bit-section>
  } @else {
    <p>TODO: empty state</p>
  }
</popup-page>
