<a bit-item-content [routerLink]="route()" [truncate]="false">
  <bit-icon-tile slot="start" [icon]="icon()" [variant]="variant()" />

  {{ labelKey() | i18n }}
  <span slot="secondary">{{ descriptionKey() | i18n }}</span>

  @if (isHealthy()) {
    <bit-icon
      slot="end"
      name="bwi-check-circle"
      class="tw-text-fg-success"
      [ariaLabel]="'categoryHealthy' | i18n"
    />
  }
  <span slot="end" [class.tw-text-fg-body-subtle]="isHealthy()">{{ count() }}</span>
  <bit-icon slot="end" name="bwi-angle-right" class="tw-text-fg-body-subtle" />
</a>
