@let organization = organization$ | async;

<app-header>
  @if (organization) {
    <bit-tab-nav-bar slot="tabs">
      <bit-tab-link route="sso">{{ "singleSignOn" | i18n }}</bit-tab-link>
      @if (organization?.useScim || organization?.useDirectory) {
        <bit-tab-link route="provisioning">{{ "userProvisioning" | i18n }}</bit-tab-link>
      }
      @if (organization?.useEvents) {
        <bit-tab-link route="event-management">{{ "eventManagement" | i18n }}</bit-tab-link>
      }
      <bit-tab-link route="device-management">{{ "deviceManagement" | i18n }}</bit-tab-link>
    </bit-tab-nav-bar>
  }
</app-header>
