<form [formGroup]="sendAccessForm" (ngSubmit)="onSubmit()">
  @if (error()) {
    <div class="tw-text-main tw-text-center">
      <p bitTypography="body1">{{ "unexpectedErrorSend" | i18n }}</p>
    </div>
  }
  @if (pendingAccessToken()) {
    <div class="tw-text-main tw-text-center">
      <p bitTypography="body1">{{ "sendOpenToView" | i18n }}</p>
      <button
        bitButton
        type="button"
        buttonType="primary"
        id="send-access_button_open"
        class="tw-mt-2"
        (click)="onOpen()"
      >
        {{ "open" | i18n }}
      </button>
    </div>
  } @else if (unavailable()) {
    <div class="tw-text-main tw-text-center">
      <p bitTypography="body1">{{ "sendAccessUnavailable" | i18n }}</p>
    </div>
  } @else {
    @switch (sendAuthType()) {
      @case (authType.Password) {
        <app-send-access-password
          [loading]="loading()"
          [formGroup]="sendAccessForm"
        ></app-send-access-password>
      }
      @case (authType.Email) {
        <app-send-access-email
          [formGroup]="sendAccessForm"
          [enterOtp]="enterOtp()"
          [loading]="loading()"
          (resendCode)="onResendCode()"
          (backToEmail)="onBackToEmail()"
        ></app-send-access-email>
      }
    }
  }
</form>
