<header class="tw-app-region-drag">
  <div data-testid="app-bar" class="tw-bg-bg-nav tw-text-fg-nav tw-py-2 tw-px-4">
    <div class="tw-flex tw-w-full tw-items-center tw-justify-between tw-gap-2">
      <bit-svg
        class="tw-block tw-w-[120px] [&_path]:tw-fill-fg-nav"
        [content]="logo"
        [ariaLabel]="'appLogoLabel' | i18n"
      ></bit-svg>
      <button
        type="button"
        bitIconButton="bwi-close"
        buttonType="side-nav"
        size="small"
        class="tw-app-region-no-drag"
        (click)="closeModal.emit()"
        [label]="'close' | i18n"
      ></button>
    </div>
  </div>
  <div
    data-testid="title-bar"
    class="tw-bg-bg-tertiary tw-p-3 tw-border-0 tw-border-b tw-border-solid tw-border-border-base"
  >
    <h1 bitTypography="h5" class="!tw-mb-0">{{ pageTitle() }}</h1>
  </div>
</header>
