<app-fido2-modal-page>
  <app-fido2-modal-header
    slot="header"
    [pageTitle]="'passkeyLogin2' | i18n"
    (closeModal)="closeModal()"
  ></app-fido2-modal-header>

  <bit-section>
    @let ciphers = ciphers$ | async;
    @if (ciphers?.length) {
      <bit-section-header>
        <h2 bitTypography="h6">{{ "chooseCipherForPasskeyAuth" | i18n }}</h2>
      </bit-section-header>
    }
    @for (c of ciphers; track c.id) {
      <bit-item>
        <button type="button" bit-item-content (click)="chooseCipher(c)">
          <app-vault-icon [cipher]="c" slot="start"></app-vault-icon>
          <span [title]="c.name">{{ c.name }}</span>
          <span slot="secondary">{{ CipherViewLikeUtils.subtitle(c) }}</span>
          <span bitBadge slot="end">{{ "select" | i18n }}</span>
        </button>
      </bit-item>
    }
  </bit-section>
</app-fido2-modal-page>
