<div class="tw-flex tw-flex-col tw-h-full">
  <app-fido2-modal-header
    [pageTitle]="'passkeyLogin2' | i18n"
    (closeModal)="closeModal()"
  ></app-fido2-modal-header>

  <div class="tw-h-full tw-items-start">
    <bit-section
      class="tw-flex tw-bg-background-alt tw-flex-col tw-justify-start tw-items-center tw-gap-2 tw-h-full tw-px-5"
    >
      <bit-status-lockup>
        <bit-svg slot="graphic" [content]="Icons.NoResults"></bit-svg>
        <ng-container slot="title">{{ "noPasskeysFoundForThisApplication" | i18n }}</ng-container>
        <button bitButton buttonType="primary" slot="button" type="button" (click)="closeModal()">
          {{ "close" | i18n }}
        </button>
      </bit-status-lockup>
    </bit-section>
  </div>
</div>
