<app-fido2-modal-page>
  <app-fido2-modal-header
    slot="header"
    [pageTitle]="'savePasskey' | i18n"
    (closeModal)="closeModal()"
  ></app-fido2-modal-header>

  <bit-status-lockup>
    <bit-svg slot="graphic" [content]="Icons.NoResults"></bit-svg>
    <ng-container slot="title">{{ "passkeyAlreadyExists" | i18n }}</ng-container>
    <ng-container slot="description">{{
      "applicationDoesNotSupportDuplicates" | i18n
    }}</ng-container>
    <button bitButton buttonType="primary" slot="button" type="button" (click)="closeModal()">
      {{ "close" | i18n }}
    </button>
  </bit-status-lockup>
</app-fido2-modal-page>
