<app-header></app-header>

<div class="tw-min-h-screen tw-flex tw-flex-col">
  <div class="tw-mb-4">
    <p class="tw-text-main tw-max-w-4xl">
      {{ "riskInsightsPrototypeDesc" | i18n }}
    </p>
  </div>

  <div class="tw-flex-1 tw-flex tw-flex-col">
    <bit-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="onTabChange($event)">
      <bit-tab [label]="'items' | i18n">
        <app-risk-insights-prototype-items></app-risk-insights-prototype-items>
      </bit-tab>
      <bit-tab [label]="'applications' | i18n">
        <app-risk-insights-prototype-applications></app-risk-insights-prototype-applications>
      </bit-tab>
      <bit-tab [label]="'members' | i18n">
        <app-risk-insights-prototype-members></app-risk-insights-prototype-members>
      </bit-tab>
    </bit-tab-group>
  </div>
</div>
