@import "../../../../shared/styles/variables-export.css";

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  pointer-events: none;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--autofill-font-family-sans-serif);
  font-weight: 400;
  color: var(--autofill-body-color);
  background-color: var(--autofill-background-color);
}

body * {
  pointer-events: auto;
}

.inline-menu-list-message {
  font-size: 1.4rem;
  line-height: 1.5;
  width: 100%;
  padding: 0.8rem;
  color: var(--autofill-text-color);
  font-family: var(--autofill-font-family-sans-serif);
}

.inline-menu-list-message.no-items,
.inline-menu-list-message.save-login {
  font-size: 1.6rem;
}

.inline-menu-list-message.no-items:has(:focus-visible),
.inline-menu-list-message.save-login:has(:focus-visible) {
  outline-width: 0.2rem;
  outline-style: solid;
  outline-color: var(--autofill-focus-outline-color);
}

.inline-menu-list-button-container {
  width: 100%;
  padding: 0.2rem;
  transition: background-color 0.2s ease-in-out;
  border-top-width: 0.1rem;
  border-top-style: solid;
  background: var(--autofill-background-color);
  border-top-color: var(--autofill-border-color);
}

.inline-menu-list-button-container:hover {
  background: var(--autofill-background-offset-color);
}

.inline-menu-list-button {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  font-family: var(--autofill-font-family-sans-serif);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
  background: transparent;
  border: none;
  padding: 0.7rem;
  margin: 0;
  cursor: pointer;
  border-radius: 0.4rem;
  color: var(--autofill-brand-primary);
}

.inline-menu-list-button:focus:focus-visible {
  outline-width: 0.2rem;
  outline-style: solid;
  outline-color: var(--autofill-focus-outline-color);
}

.inline-menu-list-button svg {
  position: relative;
  margin-left: 0.4rem;
  margin-right: 0.8rem;
}

.inline-menu-list-button svg path {
  fill: var(--autofill-brand-primary) !important;
}

.unlock-button svg {
  top: 0.2rem;
  width: 1.6rem;
  height: 1.7rem;
}

.add-new-item-button svg {
  top: 0.25rem;
  width: 1.7rem;
  height: 1.7rem;
}

.inline-menu-list-actions {
  padding: 0;
  margin: 0;
  max-height: 18rem;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--autofill-input-border-color) var(--autofill-scrollbar-track-color);
  border-right-color: var(--autofill-border-color);
}

.inline-menu-list-actions--scrollbar {
  overflow-y: scroll;
}

.inline-menu-list-actions::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.inline-menu-list-actions::-webkit-scrollbar-button {
  display: none;
}

.inline-menu-list-actions::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 1rem;
}

.inline-menu-list-actions::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.inline-menu-list-actions::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--autofill-border-color);
}

.inline-menu-list-heading {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: var(--autofill-font-family-sans-serif);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.025rem;
  width: 100%;
  padding: 0.6rem 0.8rem;
  will-change: transform;
  border-bottom: 0.1rem solid;
  color: var(--autofill-text-color);
  background-color: var(--autofill-background-color);
  border-bottom-color: var(--autofill-background-color);
}

.inline-menu-list-heading--bordered {
  transition: border-bottom-color 0.15s ease;
  border-bottom-color: var(--autofill-border-color);
}

.inline-menu-list-container--with-new-item-button .inline-menu-list-actions {
  max-height: 13.8rem;
}

.inline-menu-list-actions-item {
  transition: background-color 0.2s ease-in-out;
  list-style: none;
  padding: 0.2rem;
}

.inline-menu-list-actions-item:not(:last-child) {
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: var(--autofill-border-color);
}

.inline-menu-list-actions-item:hover {
  background: var(--autofill-background-offset-color);
}

.inline-menu-list-actions-item .cipher-container {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  padding: 0.7rem 0.3rem 0.7rem 0.7rem;
  border-radius: 0.4rem;
}

.inline-menu-list-actions-item .cipher-container:has(:focus-visible):not(.remove-outline) {
  outline-width: 0.2rem;
  outline-style: solid;
  outline-color: var(--autofill-focus-outline-color);
}

.inline-menu-list-actions-item .fill-cipher-button,
.inline-menu-list-actions-item .view-cipher-button {
  padding: 0;
  margin: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.inline-menu-list-actions-item .fill-cipher-button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: calc(100% - 4rem);
  outline: none;
}

.inline-menu-list-actions-item .view-cipher-button {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
}

.inline-menu-list-actions-item .view-cipher-button:focus:focus-visible {
  outline-width: 0.2rem;
  outline-style: solid;
  outline-color: var(--autofill-focus-outline-color);
}

.inline-menu-list-actions-item .view-cipher-button svg path {
  fill: var(--autofill-brand-primary) !important;
}

.inline-menu-list-actions-item .cipher-icon {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0 1rem 0 0;
  line-height: 0;
  background-size: 2.6rem;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--autofill-brand-primary);
}

.inline-menu-list-actions-item .cipher-icon svg {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.inline-menu-list-actions-item .cipher-icon svg path {
  fill: var(--autofill-brand-primary) !important;
}

.inline-menu-list-actions-item .cipher-icon.bwi {
  font-size: 2.6rem;
}

.inline-menu-list-actions-item .cipher-details {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.inline-menu-list-actions-item .totp-sec-span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--autofill-text-color);
}

.inline-menu-list-actions-item .totp-sec-span-danger {
  color: var(--autofill-password-special-color);
}

.inline-menu-list-actions-item .circle-color {
  stroke: var(--autofill-brand-primary);
}

.inline-menu-list-actions-item .circle-danger-color {
  stroke: rgb(var(--color-danger-600));
}

.inline-menu-list-actions-item .cipher-name,
.inline-menu-list-actions-item .cipher-subtitle {
  display: block;
  width: 100%;
  line-height: 1.5;
  font-family: var(--autofill-font-family-sans-serif);
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.inline-menu-list-actions-item .cipher-name {
  font-size: 1.6rem;
  color: var(--autofill-text-color);
}

.inline-menu-list-actions-item .cipher-subtitle {
  font-size: 1.4rem;
  color: var(--autofill-muted-text-color);
}

.inline-menu-list-actions-item .cipher-subtitle.masked-totp {
  font-size: 0.875rem;
  letter-spacing: 0.2rem;
}

.inline-menu-list-actions-item .cipher-subtitle--passkey {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.inline-menu-list-actions-item .cipher-subtitle--passkey svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.2rem;
  fill: var(--autofill-muted-text-color) !important;
}

.inline-menu-list-actions-item .cipher-subtitle--passkey svg path {
  fill: var(--autofill-muted-text-color) !important;
}

@keyframes bwi-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.passkey-authenticating-loader {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--autofill-muted-blue);
}

.passkey-authenticating-loader svg {
  animation: bwi-spin 2s infinite linear;
  margin-left: 1rem;
}

.passkey-authenticating-loader svg path {
  fill: var(--autofill-muted-blue) !important;
}

/* Password generator styles */
.password-generator-container {
  padding: 0.2rem;
}

.password-generator-actions {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem 0.4rem 1.1rem 0.65rem;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease-in-out;
}

.password-generator-actions:hover {
  background: var(--autofill-background-offset-color);
}

.password-generator-actions:has(:focus-visible):not(.remove-outline) {
  outline-width: 0.2rem;
  outline-style: solid;
  outline-color: rgb(var(--autofill-focus-outline-color));
}

.password-generator-actions .inline-menu-list-action {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--autofill-text-color);
}

.password-generator-actions .inline-menu-list-action svg path {
  fill: var(--autofill-brand-primary) !important;
}

.password-generator-actions .fill-generated-password-button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: calc(100% - 4rem);
  outline: none;
  padding-right: 0.2rem;
}

.password-generator-actions .fill-generated-password-button svg {
  flex-shrink: 0;
  width: 3.2rem;
  margin-top: 0.2rem;
  margin-right: 0.65rem;
}

.password-generator-actions .refresh-generated-password-button {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
}

.password-generator-actions .refresh-generated-password-button:focus:focus-visible {
  outline-width: 0.2rem;
  outline-style: solid;
  outline-color: var(--autofill-focus-outline-color);
}

.password-generator-actions .refresh-generated-password-button svg {
  margin-top: 0.2rem;
}

.password-generator-actions .refresh-generated-password-button svg path {
  fill: var(--autofill-brand-primary) !important;
}

.password-generator-actions .password-generator-content {
  text-align: left;
}

.password-generator-actions .password-generator-heading {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 0.1rem;
  font-family: var(--autofill-font-family-sans-serif);
}

.password-generator-actions .colorized-password {
  font-size: 1.2rem;
  line-height: 1.3;
  font-family: var(--autofill-font-family-source-code-pro);
  letter-spacing: 0.05rem;
  font-weight: 400;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.password-generator-actions .colorized-password .password-special {
  color: var(--autofill-password-special-color) !important;
}

.password-generator-actions .colorized-password .password-number {
  color: var(--autofill-password-number-color) !important;
}
