<div class="tw-px-2 tw-my-3 tw-h-10">
  <div class="tw-rounded-full tw-bg-primary-100 tw-size-full">
    <button
      type="button"
      class="tw-py-1.5 tw-px-4 tw-flex tw-gap-2 tw-items-center tw-size-full focus-visible:tw-ring-2 focus-visible:tw-ring-offset-2 focus:tw-outline-none focus-visible:tw-ring-primary-600 focus-visible:tw-z-10 tw-font-semibold tw-rounded-full tw-transition tw-border tw-border-solid tw-text-left tw-bg-primary-100 tw-text-primary-600 tw-border-primary-600 hover:tw-bg-hover-default hover:tw-text-primary-700 hover:tw-border-primary-700"
      (click)="openUpgradeDialog()"
    >
      <i class="bwi bwi-star" title="{{ 'upgradeYourPlan' | i18n }}" aria-hidden="true"></i>
      {{ "upgradeYourPlan" | i18n }}
    </button>
  </div>
</div>
