/**
 * Old styling for MFA, this should be replaced with Tailwind!
 */

#web-authn-frame {
  height: 40px;

  iframe {
    border: none;
    height: 100%;
    width: 100%;
  }
}

/* MFA Types for logo styling with no dark theme alternative */
.mfaType0 {
  content: url("../images/two-factor/0.png");
  max-width: 120px;
}

.mfaType2 {
  content: url("../images/two-factor/2.png");
  max-width: 120px;
}

.mfaType3 {
  content: url("../images/two-factor/3.png");
  max-width: 120px;
}

.mfaType4 {
  content: url("../images/two-factor/4.png");
  max-width: 120px;
}

.mfaType6 {
  content: url("../images/two-factor/6.png");
  max-width: 120px;
}

.mfaType0 {
  content: url("../images/two-factor/0.png");
  max-width: 120px;
  max-height: 62px;
}

.mfaType1 {
  max-width: 120px;
  max-height: 62px;

  &:is(.theme_light *) {
    content: url("../images/two-factor/1.png");
  }

  &:is(.theme_dark *) {
    content: url("../images/two-factor/1-w.png");
  }
}

.mfaType7 {
  max-width: 120px;

  &:is(.theme_light *) {
    content: url("../images/two-factor/7.png");
  }

  &:is(.theme_dark *) {
    content: url("../images/two-factor/7-w.png");
  }
}
