<div role="toolbar" [attr.aria-label]="'filters' | i18n">
  @if (allFilters$ | async; as allFilters) {
    <form
      [formGroup]="filterForm"
      class="tw-gap-2 tw-mt-2 tw-grid tw-grid-cols-2 sm:tw-grid-cols-3 lg:tw-grid-cols-4"
    >
      @if (allFilters.organizations; as organizations) {
        <ng-container>
          @if (organizations.length) {
            <bit-chip-select
              fullWidth
              formControlName="organization"
              placeholderIcon="bwi-vault"
              [placeholderText]="'vault' | i18n"
              [options]="organizations"
            >
            </bit-chip-select>
          }
        </ng-container>
      }
      @if (allFilters.collections; as collections) {
        <ng-container>
          @if (collections.length) {
            <bit-chip-select
              fullWidth
              formControlName="collection"
              placeholderIcon="bwi-collection-shared"
              [placeholderText]="'collection' | i18n"
              [options]="collections"
            >
            </bit-chip-select>
          }
        </ng-container>
      }
      @if (allFilters.folders; as folders) {
        <ng-container>
          @if (folders.length) {
            <bit-chip-select
              fullWidth
              placeholderIcon="bwi-folder"
              formControlName="folder"
              [placeholderText]="'folder' | i18n"
              [options]="folders"
            >
            </bit-chip-select>
          }
        </ng-container>
      }
      <bit-chip-select
        formControlName="cipherType"
        fullWidth
        placeholderIcon="bwi-list"
        [placeholderText]="'type' | i18n"
        [options]="cipherTypes$ | async"
      >
      </bit-chip-select>
    </form>
  }
</div>
